<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<form>
<p> Submitted Information:<p>


<p>NAME: <%= params[:name] %></p>
<p>Dojo Location: <%= params[:location] %></p>
<p>Favorite Language: <%= params[:language] %></p>
<p>Favorite Language: <%= params[:language] %></p>
<p>Comment: <%= params[:comment] %></p>

<input type="submit" value="Goback">

</form>
